@CHARSET "ISO-8859-1";


html, body {
	width: 100%;
 	height: 100%;
	background-color: #101010;
	
	/* tatooin
	background-image: url(images/tatooin.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	*/
	
	text-align:center;
	color: #C0C0C0  ;
	font-family: helvetica;
}

#tantoo {
	margin-top: 7px;
	font-size: 30pt;
	font-weight: bold;
}

#container {
	position:fixed;
	width:340px;
	height:265px;
	top:50%;
	left:50%;
	margin-top: -140px;
	margin-left: -170px;
	background:#484848;
	border-radius: 5px;
	border: 1px solid #383838;
}

form {
	margin: 0 auto;
	margin-top: 10px;
}

label {
	 margin-left: 18px;
	 padding-top: 1px;
	 font-size: 14px;
}

a {
	font-size: 11px;
	color: #aaa;
 	float: left;
 	margin-top: 5px;
 	margin-left: 30px;
}

a:hover {
 color: red;
}

input {
	font-family: helvetica, sans-serif;
	font-size: 12px;
}

input[type=text], input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 10px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: outline 0px 0px 10px 1px;
}

input[type=submit] {
	float: right;
 	margin-right: 20px;
 	margin-top: -10px;
 	width: 80px;
 	height: 30px;
 	font-size: 16px;
 	font-weight: bold;
 	color: #777;
 	border-radius:10px;
 	border: 1px solid gray;
 	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #D0D0D0;
}




/* no need anymore
.border_login {
    border-style: solid;
    border-color:black;
    border-width: 10px 10px 10px 10px;
   	margin:50px 450px 100px 450px;
   	
   	font-size:15pt;
} 
*/

